.my-account {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.heading {
    text-align: left;
    margin-left: 10%;
    margin-top:5%;
    margin-bottom:3%;
}

.my-account-container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 25%;
    background-color: #ffffff; /* Set the sidebar to white */
    padding: 20px;
    border-right: 1px solid #ccc;
    position: sticky;
    top: 0;
    
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
    margin-left:34%;
}

.sidebar ul li.active {
    font-weight: bold;
    color: #51B541;
}

.MyAccount_content {
    width: 75%;
    background-color: #f7f7f7; /* A bit dark white */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding shadow to the right container */
    border-radius: 8px;
    margin: 20px; /* Adding margin to create space around the form */
    flex: 1;
    overflow-y: auto; /* Allows scrolling if content goes beyond the full height of the page */
}

.content-section {
    padding: 20px;
}

.content-section h2 {
    margin-top: 0;
}

.content-section h3 {
    margin-top: 20px;
}

.content-section form {
    display: flex;
    flex-direction: column;
}

.content-section form label {
    margin-bottom: 10px;
}

.content-section form input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* .button {
    padding: 10px 20px;
    background-color: #0377A8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */
