.aboutContent {
  display: flex;
  align-items: center;
  gap: 5vw;
  margin-top: 13.25em;

}

.aboutPhara {
  max-width: 40%;
  text-align: left;


}
.aboutParagraph{
text-align: left;


}

.aboutImage img {
  width: 90%;
  max-width: 800px;
  height: auto;
}


.aboutPhara p {
  font-size: 1.1rem;
  line-height: 2.5rem;
 
color: rgb(2, 64, 2);
  font-weight: 500;
  margin-bottom: 2rem;
}