.mainSlide {
    padding-top:0;
}

.carousel.slider-wrapper {
    width: 600px;


}

.carousel .thumbs-wrapper {
    display: none;
}

.carousel {
    text-align: center;
}

.carousel-status {
    display: none;
}

.control-dots {
    display: none;
}