/* Base styles */
.selectFeedback,
.selectBranch {
  width: 40%;
  height: 50px;
  max-width: 500px;
  border: none;
  background-color: #eaeaea;
  border-radius: 7px;
  text-align: center;
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 1.5; /* Changed from 5 to 1.5 for better spacing */
  font-weight: 500;
}

.feedbackForm {
  display: grid;
  grid-template-columns: auto; /* Changed from grid-column to grid-template-columns */
  gap: 2vh;
  width: 90%; /* Changed from 50vh to percentage for responsiveness */
  max-width: 500px; /* Added max-width for better scaling on larger screens */
  margin: 0 auto; /* Center the form horizontally */
}

.error {
  color: red;
  font-size: 0.875em;
}

/* Message styles */
.success-message,
.error-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-family: 'Poppins', sans-serif;
  width: 90%; /* Added width for responsiveness */
  max-width: 400px; /* Added max-width for better scaling on larger screens */
}

/* Loader styles */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

/* Error message within feedbackForm */
.feedbackForm .error {
  color: red;
  font-size: 0.875em;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .feedbackForm {
    width: 80%; /* Adjust width for smaller screens */
  }

  .success-message,
  .error-message {
    width: 80%; /* Adjust width for smaller screens */
  }
}
