.centered-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  padding-top: 15%;
}

.centered-box {
  background-color: #c8c8c8;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.success-icon {
  font-size: 6rem; 
  margin-bottom: 1rem;
}

.success {
  color: #137916;
}

.bill {
  margin-top: 1rem;
  color: purple;
}
