.Products-title {
    display: flex;
    padding-top: 8vh;
    align-items: flex-end;
    width: 100%;
  }
  
  .Products-title .products_ViewAll {
    margin-left: auto;
    align-self: flex-end;
  }


  .itemsCardsProducts {
    display: flexbox;
  
  
  }

  