.Contact_content {
    display: flex;
    flex-direction: row;
    gap: 25%; 
    overflow-x: auto; 
    margin-top: 13.25em;
}

.Contact_details {
    display: grid;
    gap: 2vh;
    width: 100%; 
    max-width: 20vw; 
    height: fit-content; 
    text-align: justify;
    border-radius: 2px;
}

.heading1 {
    display: flex;
    flex-direction: row;
    gap: 2vh;
}

.horizontalLine {
    position: relative;
    width: 100%; /* Adjust width */
    max-width: 100%; /* Ensure it doesn't overflow */
    height: 0.5px;
    background-color: black;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


@media only screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
        overflow-x: hidden; 
    }
    .details {
        max-width: 100%; 
        width: 90%; 
    }
}
