
.title{
    display: flex;
    padding-top: 8vh;
    align-items: flex-end;
  
}

.arrowBtn{
    display: flex;
    gap: 8vh;
    align-items: flex-end;
    justify-content: flex-end;
}


.categoryCards :hover {
    background-color: #67DE7B;
}

.icons {
    font-size: 6vh;
    text-align: center;
}

.slick-track {
    
 height: 400px;
 
}

.slick-list{
    row-gap: 2vh !important;
}

.slick-dots{
    display: none !important;
}

.itemsCards{
    padding-top: 5vh;

}