.title {
  display: flex;
  padding-top: 8vh;
  align-items: flex-end;
}

.arrowBtn {
  display: flex;
  gap: 8vh;
  align-items: flex-end;
  justify-content: flex-end;
}

.categoryCards :hover {
  background-color: #67DE7B;
}

.icons {
  font-size: 6vh;
  text-align: center;
}

.slick-track {
  height: 450px;
}

.slick-list {
  row-gap: 2vh !important;
}

.slick-dots {
  display: none !important;
}

.itemsCards {
  padding-top: 8vh;
}

.overlay-container {
  position: relative;
  height: 50vh;
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.endImage .end1 {
  display: inline;
  width: 90vw;
  height: 90vh;
}

.endImage .end2 {
  display: none;
  width: 90vw;
  height: 90vh;
}

.endImage:hover .end1 {
  display: none;
}

.endImage:hover .end2 {
  display: inline;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2vh;
}

.product-card {
  border: 1px solid #ddd;
  padding: 1vh;
  border-radius: 4px;
  width: calc(25% - 2vh);
  box-sizing: border-box;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-info {
  text-align: center;
}
