@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  
}

#topcontent {
  min-height: 5vh;
}

#navcontent {
  min-height: 20vh;
  padding-bottom: 4vh;
}

#bodycontent {
  min-height: 40vh;
}

#footercontent {
  min-height: 10vh;
}
.layout{
  background-color: #fafafa;
}


