.results-list {
    width: 30%;
    font-size: 14px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
    margin-left: 35%;
    scrollbar-width: thin; 
    scrollbar-color: #888 #e0e0e0; 
}

.results-list::-webkit-scrollbar {
    width: 8px; 
}

.results-list::-webkit-scrollbar-track {
    background: #e0e0e0; 
    border-radius: 10px; 
}

.results-list::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
    border: 2px solid #e0e0e0; 
}
