@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
}

.container {
  max-width:100%;
  margin: 0 ;
  padding: 0 10vh;
  padding-top: 15px;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color:#ffffff;
  position: relative;
}

.Logo_content{
  display: flex;
  align-items: center;

}


.logo img{
  width: 100px;
  height: 100px;
 filter: brightness(90%);
 margin-left: -10px;
 
}

.navbar_p{
  color: #171717;
  font-size: 28px;
  font-weight: 600;
  display: inline;
  font-style: italic;
  padding-right: 2vh;  
  
}

.navbar_p>p{
  margin-left: 1rem;

}

.menu-icon {
  display: none;
  
}



.navbar_cart_person{
  display: flex;
  list-style-type: none;
  justify-content: space-between;

  align-items: center;
  width: 7vw;
  padding-left: 11vw;

 
}


.nav-elements{
  display: flex;
  justify-content: space-between; 
  flex: 1;
  align-items: center;
  margin-left: 12vw;
}



.nav-elements .nav_item1 {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-right: 0;
  align-items: center;
}



.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #36d06a;
}

.iconPerson {
  font-size: 24px; 
}


.nav-elements :hover{
 color: #209146;
}


@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
  
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }


  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #ffffff;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    z-index: 5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
   
  }

  
}

