@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
}

.navbar {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 10px 10px;
  height: 5em;
}

.Logo_content {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.logo img {
  width: 100px;
  height: 100px;
  filter: brightness(90%);
}

.navbar_p {
  color: #171717;
  font-size: 28px;
  font-weight: 600;
  display: inline;
  font-style: italic;
}

.menu-icons {
  display: none;
}

.navbar_cart_person {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}


.nav-elements {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav-elements .nav_item1 {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #36d06a;
}

.end-items ul {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 40px;
}

.iconPerson {
  font-size: 24px;
}


.nav-elements :hover {
  color: #209146;
}

@media (max-width: 1000px) {
  .menu-icons {
    display: flex;
    align-items: center;
    z-index: 6;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px;
    border-radius: 100%;
    /* background-color: #cef7db; */
    transition: all 0.3s ease-in;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  .menu-icons.active {
    transform: rotate(-90deg);
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
  }


  .nav-elements {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #ffffff;
    width: 0px;
    max-width: 350px;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 40px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in;
    z-index: 5;
    border-radius: 15px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  }

  .nav-elements.active {
    width: 60%;
    max-width: 350px;
    opacity: 1;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .end-items ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
    margin-left: 0px;
  }


}