.popup-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* semi-transparent background */
    display: flex;
    justify-content: center;
    /* horizontally center */
    align-items: center;
    /* vertically center */
}

.popup {
    background-color: #f4eeee;
    margin-top: 60px;
    padding: 20px;
    border-radius: 5px;
    height: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* optional: add shadow */
    overflow-y: scroll;
}

.popup-btn-sec {
    display: flex;
    margin-bottom: 20px;
    gap: 15px;
}
