.signup-Container {
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #ecffe7;
}

.signupCard {
  display: flex;
  border-radius: 40px 0 40px 0;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.signup-leftcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.sw-greenmart-image {
  align-items: center;
  width: 150px;
}

.signup-rightcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  width: 100%;
}

.signup-error {
  color: red;
  font-size: 0.8rem;
}

.pasword-Section-signin-pass-confirm {
  margin-left: 16px;
}

.pasword-Section-signin-pass {
  margin-left: 16px
}

.signup-para {
  font-size: 0.8rem;
  color: #000000;
  text-align: center;
}

.signup-para:hover {
  color: rgb(0, 163, 79);
}